# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [4]:
### your code is here
print(cars['Model'].nunique())

3608

group by the data by the Make  using count function

In [5]:
### your code us here
cars2 = cars.groupby(['Make']).count()#['Make'].count()
cars2

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [6]:
### your code us here
most_common_brand = cars['Model'].value_counts().idxmax()
print(most_common_brand)

F150 Pickup 2WD

<b>show the average CO2_Emission_Grams/Km  by Brand

In [7]:
### your code us here

cars['CO2 Emission Grams/Mile'] = cars['CO2 Emission Grams/Mile'] * 1.60934
cars.rename(columns={'CO2 Emission Grams/Mile': 'CO2 Emission Grams/Km'}, inplace=True)

cars.groupby(['Make']).mean()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
Make,,,,,,,,,
AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,983.883276,2287.500000
ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,893.887786,2550.000000
Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,680.083467,1852.483444
Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,746.656697,1962.195122
American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,813.937904,1893.181818
...,...,...,...,...,...,...,...,...,...
Volkswagen,2002.928367,2.236008,4.595033,14.594784,21.226361,28.985673,24.093601,632.054961,1579.417383
Volvo,2002.182706,2.504742,4.945607,16.186996,17.981869,25.064156,20.605300,701.356415,1812.273361
Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,12.437500,16.000000,13.875000,1058.929674,2996.875000
Yugo,1988.375000,1.200000,4.000000,13.206218,23.000000,28.250000,25.000000,573.034887,1350.000000
smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,397.556154,1110.000000

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [8]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Make                   35952 non-null  object
 1   Model                  35952 non-null  object
 2   Year                   35952 non-null  int64
 3   Engine Displacement    35952 non-null  float64
 4   Cylinders              35952 non-null  float64
 5   Transmission           35952 non-null  object
 6   Drivetrain             35952 non-null  object
 7   Vehicle Class          35952 non-null  object
 8   Fuel Type              35952 non-null  object
 9   Fuel Barrels/Year      35952 non-null  float64
 10  City MPG               35952 non-null  int64
 11  Highway MPG            35952 non-null  int64
 12  Combined MPG           35952 non-null  int64
 13  CO2 Emission Grams/Km  35952 non-null  float64
 14  Fuel Cost/Year         35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [9]:
### your code us here
cars.groupby(['Make']).mean().sort_values(by=["CO2 Emission Grams/Km"])

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
Make,,,,,,,,,
Fisker,2012.000000,2.000000,4.000000,6.359255,20.000000,21.000000,20.000000,271.978460,2000.000000
smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,397.556154,1110.000000
Fiat,2015.069767,1.446512,4.000000,11.383588,26.372093,33.860465,29.186047,490.312081,1386.046512
Daihatsu,1990.352941,1.264706,3.705882,11.504567,28.058824,32.470588,29.647059,499.198053,1173.529412
MINI,2012.496875,1.631875,3.981250,11.640990,25.406250,33.315625,28.468750,504.877095,1429.531250
...,...,...,...,...,...,...,...,...,...
Laforza Automobile Inc,1989.500000,4.900000,8.000000,29.964545,10.000000,13.000000,11.000000,1300.200416,3050.000000
Bugatti,2011.125000,8.000000,16.000000,32.961000,8.000000,14.625000,10.000000,1405.054404,4050.000000
Superior Coaches Div E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,10.000000,11.000000,10.000000,1430.220458,3350.000000
S and S Coach Company E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,9.000000,11.000000,10.000000,1430.220458,3350.000000
Vector,1994.500000,5.850000,10.000000,38.912292,7.250000,11.000000,8.500000,1688.454707,4775.000000

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [10]:
cars['Year'].value_counts()

1985    1581
2015    1264
2016    1228
2014    1211
1987    1198
1986    1188
2008    1184
2009    1183
2013    1168
2005    1156
2012    1139
1989    1127
2007    1126
2011    1124
1991    1122
1988    1119
2004    1113
2010    1108
1992    1107
2006    1099
1993    1077
1990    1068
2003    1034
1994     967
2002     961
1995     928
2001     902
2017     857
1999     828
2000     827
1998     791
1996     767
1997     755
1984     645
Name: Year, dtype: int64

In [14]:
# your code here
labels = ['1984 - 1992', '1993 - 2001', '2002 - 2010', '2011 - 2016']

# Use the cut function to create a new column with the categories
cars['cat_year'] = pd.qcut(cars['Year'], q=4, labels=labels)

cars['cat_year'].value_counts()

2002 - 2010    9964
1984 - 1992    9048
1993 - 2001    8949
2011 - 2016    7991
Name: cat_year, dtype: int64

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [12]:
### your code is here

cars['City MPG'] = cars['City MPG'] * 1.60934
cars.rename(columns={'City MPG': 'City_Grams/Km'}, inplace=True)

cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City_Grams/Km,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year,cat_year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,28.96812,17,17,841.306152,1950,1984 - 1992
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,20.92142,13,13,1100.169583,2550,1984 - 1992
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,25.74944,17,16,893.887786,2100,1984 - 1992
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,20.92142,13,13,1100.169583,2550,1984 - 1992
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,22.53076,21,16,893.887786,2550,1984 - 1992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,54.71756,38,36,392.678960,1100,2011-2016
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,54.71756,38,36,391.069620,1100,2011-2016
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,54.71756,38,36,392.678960,1100,2011-2016
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,54.71756,39,36,395.897640,1100,2011-2016
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,51.49888,39,35,410.381700,1150,2011-2016

In [17]:
cars.groupby(['cat_year']).mean()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City_Grams/Km,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
cat_year,,,,,,,,,
1984 - 1992,1987.528294,3.248011,5.504973,18.573337,27.732301,22.364832,19.141578,805.384323,1909.278294
1993 - 2001,1996.236674,3.270868,5.696391,18.118023,27.294040,23.035870,19.188289,787.989676,1926.690133
2002 - 2010,2006.115114,3.493196,6.033220,17.863290,27.286906,23.411381,19.309715,777.172540,1965.862104
2011 - 2016,2013.934051,3.323777,5.802152,15.630235,31.776359,27.128144,22.423727,678.105364,1744.180954

Which brands are more environment friendly?

In [19]:
### your code is here
cars.groupby(['Make']).mean()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City_Grams/Km,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
Make,,,,,,,,,
AM General,1984.500000,3.350000,5.000000,22.674670,24.140100,15.000000,14.750000,983.883276,2287.500000
ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,22.530760,21.000000,16.000000,893.887786,2550.000000
Acura,2003.493377,2.834768,5.231788,15.673371,30.401605,25.940397,21.506623,680.083467,1852.483444
Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,27.515789,23.902439,19.512195,746.656697,1962.195122
American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,25.822592,20.181818,17.681818,813.937904,1893.181818
...,...,...,...,...,...,...,...,...,...
Volkswagen,2002.928367,2.236008,4.595033,14.594784,34.160432,28.985673,24.093601,632.054961,1579.417383
Volvo,2002.182706,2.504742,4.945607,16.186996,28.938941,25.064156,20.605300,701.356415,1812.273361
Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,20.016166,16.000000,13.875000,1058.929674,2996.875000
Yugo,1988.375000,1.200000,4.000000,13.206218,37.014820,28.250000,25.000000,573.034887,1350.000000
smart,2012.500000,0.980000,3.000000,9.208922,53.591022,39.300000,35.800000,397.556154,1110.000000

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here